body {
    background-image: url("acoescovado2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section#linkedin {
    background-image: url("download.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header#cabecalho {
    margin-top: 80px;
}