body {
    background-image: url("acoescovado2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

section#linkedin {
    background-image: url("download.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

header#cabecalho {
    margin-top: 80px;
    margin-bottom: 20px;
}

header h1#h1-header {
    text-align: left;
    font-family: Helvetica, sans-serif;
    margin-bottom: 0px;
    margin-top: 130px;

}

header h2#h2-header {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 0px;



}
